@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root{
    --background: #C8E6C9;
    --darkgreen:#2E7D32;
    --black:#000000;
    --card-background:#2B2D35;
    --white:#FFFFFF;
    --white87:#FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--background);
}
.card-container {
    
    display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
overflow: hidden;
}
.card{
    display: flex;
    background: var(--white);
    width: 60rem;
    height: 70vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;

    
}
.card:hover {
    transform: scale(1.05);
}
.card-data {
    background: var(--darkgreen);
    height: 70vh;
    width: 20rem;
    border-radius: 20px 0 0 20px;
    color: var(--white);
    position: relative;
}
.data {
    position: absolute;
bottom: 2rem;


}
.data-text {
    display: flex;
    max-width: 20px 0;
    font-weight: 300;
    margin: 15px 0;
    padding: 0 20px;
}
.data span {
    padding: 0 20px;
}
.data-text h3 {
    margin-left: 5px;
    font-weight: 300;
    font-size: 0.9rem;
    
    
}
.data .line {
    background: var(--white);
    height: 1rem;
    width: 20rem;
    left: 0px;
    z-index: 1;
    margin: 20px 0;
}
.user-photo {
    position: absolute;
    left: 16rem;
    bottom: 2rem;
     z-index: 99;
    
}
.user-photo img {
    width: 18rem;
    height: 60vh;
}
.links-find {
    margin: 20px;
    font-weight: 400;
    text-align: center;
}
.links {
    display: flex;
    align-items: center;
    margin: 0 7rem;
}
.links li a{
    margin-right: 20px;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #ebebeb;
    left: -10px;
    bottom: -7rem;
  }
  .square1 {
    height: 50px;
    width: 50px;
    background-color: #ebebeb;
    left: 2rem;
top: 24rem;
  }
  .shapes {
    position: absolute;
  }
  .rectangle {
    height: 20px;
    width:50px;
    background-color: #ebebeb;
    left: 16rem;
    top: 2rem;
  }
  .circle {
    height: 50px;
    width: 50px;
    background-color: var(--darkgreen);
    border-radius: 50%;
    bottom: -27rem;
    left: 16rem;
    z-index: -1;
  }
  .circle1 {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: var(--darkgreen);
    border-radius: 50%;
    top: -3rem;
    right: -4.5rem;
  
  }

  .user-info {
    margin-right: 5rem;
    width: 300px;
    position: absolute;
    right: -1rem;
    top: 2rem;
  }
  .user-info h1 span {
    color: var(--darkgreen);
  }
  .user-info ul li {
    list-style:circle;
  }
 

  @media only screen and (max-width: 1024px) {
    .data {
        bottom: 9rem;
    }
    .user-info {
        top: 13rem;
    }
    .circle1{
        top: -14rem;
    }
  }

  @media only screen and (max-width: 425px) {
    .card{
        width: 52rem;
        height: 47vh;
    }
    .data {
        bottom: 25rem;
    }
    .user-info {
        top: 13rem;
        right: -5rem;
    }
    .circle1{
        top: -0.5rem;
    }
    .user-photo img {
        width: 16rem;
        height: 29vh;
    }
    .user-photo{
        bottom: 11rem;
    }
    .circle {
        left: 14rem;
    }
  }

  @media only screen and (max-width: 320px) {
    .card {
        width: 49rem;
    height: 27vh;
    }
    .data {
        bottom: 53rem;
    }
    .user-photo img {
        width: 12rem;
        height: 16vh;
    }
    .user-photo {
        bottom: 8rem;
    }
    .square1{
        top: 17rem;
    }
    .circle {
        bottom: -20rem;
    left: 10rem;
    }
    .rectangle {
        left: 11rem;
    }
    .user-info {
        
        width: 265px;
        
        right: -4rem;
        
    }
  }